@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

.admin-wrapper {
    padding: 1rem;
    margin-right: 10rem;
    margin-left: 10rem;
}

.admin-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.admin-tab {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.admin-tab-label {
    font-family: 'DM Mono', monospace;
    cursor: pointer;
}

.admin-tab-switch {
    display: none;
}

.active-tab {
    background-color: #333440;
    color: #17141D;
}

hr {
    width: 95%;
    height: 1px;
    margin: 0 auto;
    background: #fff;
}

.admin-courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.admin-course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20rem;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.admin-course-image {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: 1px solid #fff;
}

.admin-course-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
    font-family: 'DM Mono', monospace;
}