.inner-carousel {
    display: flex;
}

.item {
    min-height: 18rem;
    width: 30rem;
    padding: 20px;
}

.carousel {
    cursor: grab;
    overflow: hidden;
    width: 38%;
    margin-top: 2vh;
    margin-left: 2vw;
    border: 1px solid #ccc;
}

.ongoing-carousel-header {
    text-align: center;
    font-family: 'DM Mono', monospace;
}

.ongoing-card {
    height: 200px;
    width: 200px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.ongoing-card-header {
    margin-bottom: auto;
    background-color: #17141d;
    display: flex;
    flex-direction: column;
}

.ongoing-card-header h2 {
    font-size: 20px;
    margin: 0.15rem 0.15rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    border: 0;
    display: block;
    cursor: pointer;
}

.ongoing-card-header h2:hover {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.ongoing-card-author {
    margin: 2rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.ongoing-author-name {
    width: 100%;
    /* grid-area: auto; */
    /* box-sizing: border-box; */
}

.ongoing-author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.ongoing-author-name > p {
    width: 100vw;
}

.progress-4 {
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: #524B82;
    border: 2px solid;
    position: relative;
    margin-right: 0.6vw;
}

.progress-4::before {
    content:"";
    position: absolute;
    margin:2px;
    inset:0 100% 0 0;
    border-radius: inherit;
    background:currentColor;
    animation:p4 2s forwards;
}

@keyframes p4 {
    0% {
        inset: 0 100% 0 0;
    }

    100% {
        inset: 0 30% 0 0; //amount left: 30%
    }
}