@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

.quiz-container {
	width: 50%;
	margin: 0 auto;
	margin-top: 5vh;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #ccc;
}

.quiz-progress {
	margin-bottom: 2rem;
}

.quiz-body {
	padding: 2rem;
	border: 1px solid #ccc;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
}

.quiz-question {
	font-family: 'DM Mono', monospace;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.quiz-options {
	font-family: 'DM Mono', monospace;
	padding-top: 1rem;
}

.quiz-next-btn {
	
}