.course-description {
    padding: 2vh;
}

.info > .chip {
    margin-left: 1vw;
    background-color: #f5f5f5;
    cursor: pointer;
}

.info > .chip:hover {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
}

.btn-info {
    margin-top: 2vh;
}

.course-image {
    width: 40%;
    height: 40%;
    object-fit: contain;
    margin-left: 25%;
    margin-bottom: 2vh;
}

.course-title {
    color: pink;
}

#subsection-modal-title {
    color: #000;
}

#subsection-modal-input {
    font-size: 17px;
    padding: 16px;
}

#subsection-modal-button {
    margin-top: 2vh;
    width: 50%;
}