.display-lec-content {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 0.7rem;
}

.lec-title {
    margin-top: 1vh;
    padding: 1rem;
    color: #5765FF;
    font-family: 'DM Mono', monospace;
}

.lec-heading {
    font-family: 'DM Mono', monospace;
    color: #BC7AF9;
}

.display-lec-content-item {
    padding: 0.8rem;
}

.lec-btns {
    padding: 1rem;
}

.lec-back {
    color: pink;
    padding: 1rem;
}

.lec-back:hover {
    color: #3D57FF;
    cursor: pointer;
}

.lec-ul > li {
    font-family: 'DM Mono', monospace;
}

.lec-link {
    color: #FF9B50;
    text-decoration: underline;
}

.lec-img-container {
    width: 50%;
    height: 50%;
}

.lec-img {
    object-fit: contain;
}