@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

.course-description {
    padding: 2vh;
}

.info > span {
    font-family: 'DM Mono', monospace;
}

.info > .chip {
    margin-left: 1vw;
    background-color: #f5f5f5;
    font-family: 'DM Mono', monospace;
    cursor: pointer;
}

.info > .chip:hover {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
}

.btn-info {
    margin-top: 2vh;
}

.show-course-image {
    width: 40%;
    height: 40%;
    border-radius: 0;
    object-fit: contain;
    margin-left: 25%;
    margin-bottom: 2vh;
}

.course-title {
    color: pink;
    font-family: 'DM Mono', monospace;
}

#subsection-modal-title {
    color: #000;
    font-family: 'DM Mono', monospace;
    margin-bottom: 2vh;
}

.subsection-modal-input {
    /* font-size: 17px; */
    padding: 16px;
    margin-bottom: 2vh;
    border: 1px solid purple;
    border-radius: 5px;
    font-family: 'DM Mono', monospace;
}

.subsection-modal-input:focus {
    border: 1px solid #FF4B2B;
}

.subsection-modal-button {
    width: 50%;
    font-family: 'DM Mono', monospace;
}

.show-course-tags {
    padding: 1vh;
}

.course-tag-chip {
    font-style: normal;
    font-weight: 700;
    font-size: 0.5rem;
    text-transform: uppercase;
    font-size: 0.66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: 0.2rem 0.85rem 0.25rem;
    position: relative;
    background: #333440;
}

.course-tag-chip:hover {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    box-decoration-break: slice;
    background-clip: text;
    border-color: white;
    /* cursor: pointer; */
}